<!-- 

Q.)The JavaScript same-origin policy (Links to an external site) aims to prevent cross-site request forgery by limiting how
   resources on different hosts can interact with each other. Knowing this, why is it possible for your website to load and
   display data from the BART API? Include your answer as a comment within the HTML markup of your created website.
ANS- Even though my website and the BART API do not belong to the same origin I am able to use its data as I am making my request
     to my own API on server which has the same origin as my website(i.e. same protocol, host and port). Hence I am able to use 
     the data as my webpage is not requesting the data directly from BART API. 
-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	<link rel="stylesheet" href="./stylesheet/main.css">
<link href="https://fonts.googleapis.com/css?family=Harmattan" rel="stylesheet">
<link rel="stylesheet" href="./stylesheet/timeTo.css">
</head>
<body>
		

		
		<header id="select-div"><!-- DROPDOWN -->
			<h1>•W•E•L•C•O•M•E•</h1>

			<select  class='stations' id='source'> </select>
			<select  class='stations' id='destination'> </select>
			
			<input type="submit" value="Lookup" id="lookup" class="submit-button">

			<h2 id="depart-text">• Next train Departure ClockDown •</h2>
			<div id="clockC" style="margin-top: 20px;"></div>
		</header>

		<aside id="source-info">
			
		</aside>

		<section id="table-container">
			 


			<table id="table" > </table> <!-- TABLE -->
		<!-- MAP -->
			<div id="map" style="width: 70%; height: 300px; margin-top: 10px;"></div>
		</section>

	<footer>
		<h2>Developed by Anmol Vijayvargiya</h2>
		<h3>Lookup the application code at github.com/anmolcj/bart.webofthings.us</h3>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="./js/main.js" type="text/javascript" charset="utf-8" async defer></script>
	
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtTjY35GY33ucgZrm62sM9Vhs3rV37AVc"
    async defer></script> 
    <script src="./js/jquery.time-to.min.js" type="text/javascript" charset="utf-8" async defer></script>


</body>
</html>